<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">LIBRERIA</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">REGISTRAR LIBRO</h5>
                    <form [formGroup]="form" (ngSubmit)="registrarLibro()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('titulo')?.valid"
                            [class.red-letter]="this.form.get('titulo')?.invalid && this.form.get('titulo')?.touched">Titulo*</span>
                            <input formControlName="titulo" type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('anio')?.valid"
                            [class.red-letter]="this.form.get('anio')?.invalid && this.form.get('anio')?.touched">Año*</span>
                            <input formControlName="anio" maxlength="4" type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('genero')?.valid"
                            [class.red-letter]="this.form.get('genero')?.invalid && this.form.get('genero')?.touched">Genero*</span>
                            <input formControlName="genero" type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">Paginas</span>
                            <input formControlName="paginas" maxlength="5" type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('editorial')?.valid"
                            [class.red-letter]="this.form.get('editorial')?.invalid && this.form.get('editorial')?.touched">Editorial*</span>
                            <input formControlName="editorial" type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('autor')?.valid"
                            [class.red-letter]="this.form.get('autor')?.invalid && this.form.get('autor')?.touched">Autor*</span>
                            <input formControlName="autor" type="text" class="form-control">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" [disabled]="this.form.invalid" class="btn btn-success btn-lg">Registrar*</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">LISTADO DE LIBROS</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let libro of listLibros">
                                <td>{{libro.titulo}}</td>
                                <td>{{libro.anio}}</td>
                                <td>{{libro.genero}}</td>
                                <td>{{libro.paginas}}</td>
                                <td>{{libro.editorial}}</td>
                                <td>{{libro.autor}}</td>
                                <td>
                                    <i (click)="eliminarLibro(libro.id)" class="fas fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">REGISTRAR AUTOR</h5>
                    <form [formGroup]="form" (ngSubmit)="registrarLibro()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('titulo')?.valid"
                            [class.red-letter]="this.form.get('titulo')?.invalid && this.form.get('titulo')?.touched">Nombre*</span>
                            <input formControlName="titulo" type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('anio')?.valid"
                            [class.red-letter]="this.form.get('anio')?.invalid && this.form.get('anio')?.touched">Fecha de Nacimiento*</span>
                            <input formControlName="anio" type="date" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('genero')?.valid"
                            [class.red-letter]="this.form.get('genero')?.invalid && this.form.get('genero')?.touched">Ciudad*</span>
                            <input formControlName="genero" type="text" class="form-control">
                        </div>
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" [class.green-letter]="this.form.get('editorial')?.valid"
                            [class.red-letter]="this.form.get('editorial')?.invalid && this.form.get('editorial')?.touched">Correo*</span>
                            <input formControlName="editorial" type="text" class="form-control">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" [disabled]="this.form.invalid" class="btn btn-success btn-lg">Registrar*</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">LISTADO DE AUTORES</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let libro of listLibros">
                                <td>{{libro.titulo}}</td>
                                <td>{{libro.anio}}</td>
                                <td>{{libro.genero}}</td>
                                <td>{{libro.paginas}}</td>
                                <td>{{libro.editorial}}</td>
                                <td>{{libro.autor}}</td>
                                <td>
                                    <i (click)="eliminarLibro(libro.id)" class="fas fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

